@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://weloveiconfonts.com/api/?family=openwebicons);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://weloveiconfonts.com/api/?family=zocial);
@import url(http://weloveiconfonts.com/api/?family=fontelico);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  line-height: 34px;
}


/* entypo */
[class*="entypo-"]:before {
  font-family: "entypo", sans-serif;
}

/* openwebicons */
[class*="openwebicons-"]:before {
  font-family: "openwebicons", sans-serif;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: "fontawesome", sans-serif;
}


/* Fix OPW
----------------------------------------------------------*/
/* openwebicons */
[class*="openwebicons-"]:before {
  font-family: 'OpenWeb Icons', sans-serif;
}




.nav li:hover a {
  background: transparent;
}
.nav li:hover a span {
  background: #f15f43;
  color: white;
}
.nav li a {
  color:white;
  line-height: 3;
}
.nav li a.active span {
  background: #f15f43;
  color:white;
}
.nav li a span {
  font-size: 2em;
  height: 30px !important;
}


/* Sidebar
-----------------------------------------------------------------------------------------*/

.menu {
  list-style: none;
  line-height: 50px;
  
  /*outline: 1px solid red;*/
  padding-left: 0;

  width: 15em;
}

.menu a {
  background: url(/Content/images/icons.png) no-repeat left top;
  color: #ddd;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding-left: 3em;
  padding-top:5px;
  width: 100%;
}

.menu a:hover {
  margin-left: 1em;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.menu li {
  box-shadow: 3px 0 rgba(52,152,219,.2) inset;
  margin-bottom: 5px;
  height:50px;
  
  padding-left: .5em;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;/*outline: 1px solid green*/
}

.menu li:hover { box-shadow: 15em 0 rgba(126,22,15,.2) inset; }

.menu li:nth-child(2) a { background-position: 0 -42px; }

.menu li:nth-child(3) a { background-position: 0 -84px; }

.menu li:nth-child(4) a { background-position: 0 -126px; }

.menu li:nth-child(5) a { background-position: 0 -168px; }

.menu li:last-child a { background-position: 0 -210px; }


.sidebar {
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 78px;
  height: 100%;
  width: 260px;
  background: #f15f43;
  -webkit-transition: left 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, box-shadow 0.3s ease 0.2s;
  
  
}
.sidebar #close {
  float: right;
  margin: -5.5rem 1rem;
  font-size: 1.4em;
  color:white;
  text-align: right;
  
}
.sidebar.closed {
  left: -260px;
  -webkit-box-shadow: 0 0 0 #1abc9c;
  box-shadow: 0 0 0 white;
}
.sidebar h2 {
  padding: .5em;
  color: white;
}

  
  
  
/* Blurred class

This class is added to the container 
(#blurMe) when the sidebar is open.
-----------------------------------*/
.blurred {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  -webkit-filter: url(#blur);
  filter: url(#blur);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
}

/* Logo effect
-----------------------------*/
@-webkit-keyframes blur {
  66% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: url(#blurLogo);
    filter: url(#blurLogo);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  }
}
@keyframes blur {
  66% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: url(#blurLogo);
    filter: url(#blurLogo);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  }
}