
    
        <div class="banner" style="margin-top:-80px;">
            <div class="container">
                <div id="search_wrapper">
                    <div id="search_form" class="clearfix">
                        <h1>Get Your Dream Job.</h1><br><h2>Helping Students with Realtime Consultancy </h2><br>
                    </div>


                </div>
            </div>
        </div>
        <div class="container">
            <div class="grid_1">
                <h3>Our Sponsors</h3>
                <ul id="flexiselDemo3">
                    <li><img src="~/Content/images/c1.gif" class="img-responsive" /></li>
                    <li><img src="~/Content/images/c2.gif" class="img-responsive" /></li>
                    <li><img src="~/Content/images/c3.gif" class="img-responsive" /></li>
                    <li><img src="~/Content/images/c4.gif" class="img-responsive" /></li>
                    <li><img src="~/Content/images/c5.gif" class="img-responsive" /></li>
                    <li><img src="~/Content/images/c6.gif" class="img-responsive" /></li>
                </ul>
                <script type="text/javascript">
                    $(window).load(function () {
                        $("#flexiselDemo3").flexisel({
                            visibleItems: 6,
                            animationSpeed: 1000,
                            autoPlay: false,
                            autoPlaySpeed: 3000,
                            pauseOnHover: true,
                            enableResponsiveBreakpoints: true,
                            responsiveBreakpoints: {
                                portrait: {
                                    changePoint: 480,
                                    visibleItems: 1
                                },
                                landscape: {
                                    changePoint: 640,
                                    visibleItems: 2
                                },
                                tablet: {
                                    changePoint: 768,
                                    visibleItems: 3
                                }
                            }
                        });

                    });
                </script>
                <script src="~/Scripts/jquery.flexisel.js"></script>
            </div>
            @*<div class="single">
                <div class="col-md-4">
                    <div class="col_3">
                        <h3>What's trending in education?</h3>
                        <ul class="list_1">
                            <li><a href="/Home/uni_template">Department of Health - Western Australia</a></li>
                            <li><a href="/Home/uni_template">Australian Nursing Agency currently require experiences</a></li>
                            <li><a href="/Home/uni_template">Russia Nursing Agency currently require experiences</a></li>
                            <li><a href="/Home/uni_template">The Government of Western Saudi Arbia</a></li>
                            <li><a href="/Home/uni_template">Department of Health - Western Australia</a></li>
                            <li><a href="/Home/uni_template">Australian Nursing Agency currently require experiences</a></li>
                            <li><a href="/Home/uni_template">Russia Nursing Agency currently require experiences</a></li>
                            <li><a href="/Home/uni_template">The Scientific Publishing Services in Saudi Arbia</a></li>
                            <li><a href="/Home/uni_template">BPO Private Limited in Canada</a></li>
                            <li><a href="/Home/uni_template">Executive Tracks Associates in Pakistan</a></li>
                            <li><a href="/Home/uni_template">Pyramid IT Consulting Pvt. Ltd. in Pakistan</a></li>
                        </ul>
                    </div>
                    <div class="col_3">
                        <h3>Latest Jobs</h3>
                        <ul class="list_2">
                            <li><a href="/Home/job_template">Railway Recruitment</a></li>
                            <li><a href="/Home/job_template">Air Force Jobs</a></li>
                            <li><a href="/Home/job_template">Police Jobs</a></li>
                            <li><a href="/Home/job_template">Intelligence Bureau Jobs</a></li>
                            <li><a href="/Home/job_template">Army Jobs</a></li>
                            <li><a href="/Home/job_template">Navy Jobs</a></li>
                            <li><a href="/Home/job_template">BSNL Jobs</a></li>
                            <li><a href="/Home/job_template">Software Jobs</a></li>
                            <li><a href="/Home/job_template">Research Jobs</a></li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h3>Take The Seeking Poll!</h3>
                        <div class="widget-content">
                            <div class="seeking-answer">
                                <span class="seeking-answer-group">
                                    <span class="seeking-answer-input">
                                        <input class="seeking-radiobutton" type="radio">
                                    </span>
                                    <label for="" class="seeking-input-label">
                                        <span class="seeking-answer-span">Frequently</span>
                                    </label>
                                </span>
                                <span class="seeking-answer-group">
                                    <span class="seeking-answer-input">
                                        <input class="seeking-radiobutton" type="radio">
                                    </span>
                                    <label for="" class="seeking-input-label">
                                        <span class="seeking-answer-span">Interviewing</span>
                                    </label>
                                </span>
                                <span class="seeking-answer-group">
                                    <span class="seeking-answer-input">
                                        <input class="seeking-radiobutton" type="radio">
                                    </span>
                                    <label for="" class="seeking-input-label">
                                        <span class="seeking-answer-span">Leaving a familiar workplace</span>
                                    </label>
                                </span>
                                <div class="seeking_vote">
                                    <a class="seeking-vote-button">Vote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"> </div>
            </div>*@
        </div>

    