<div class="banner_1" style="margin:-80px 0px -78px 0px;"></div>

<style>
    /* make sidebar nav vertical */

    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }

    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }

    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }

 
</style>
<div class="container">
    <div class="single">
        <div class="col-md-4">
            <div class="sidebar-nav">
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="visible-xs navbar-brand" style="padding-top:15px;">Menu</span>
                    </div>

                    <script>
                        $(document).ready(function () {

                            $("#menuData1").hover(

                               function () {
                                   $("#getClass1").addClass("active");
                               },

                               function () {
                                   $("#getClass1").removeClass("active");
                               }
                            );
                            $("#menuData2").hover(

                               function () {
                                   $("#getClass2").addClass("active");
                               },

                               function () {
                                   $("#getClass2").removeClass("active");
                               }
                            );
                            $("#menuData3").hover(

                               function () {
                                   $("#getClass3").addClass("active");
                               },

                               function () {
                                   $("#getClass3").removeClass("active");
                               }
                            );
                            $("#menuData4").hover(

                               function () {
                                   $("#getClass4").addClass("active");
                               },

                               function () {
                                   $("#getClass4").removeClass("active");
                               }
                            );
                            $("#menuData5").hover(

                               function () {
                                   $("#getClass5").addClass("active");
                               },

                               function () {
                                   $("#getClass5").removeClass("active");
                               }
                            );

                        });
                    </script>

                    <div class="navbar-collapse collapse sidebar-navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li id="getClass1"><a href="#" id="menuData1">About</a></li>
                            <li id="getClass2"><a href="#" id="menuData2">Services</a></liid>
                            <li id="getClass3"><a href="#" id="menuData3">Career</a></li>
                            <li id="getClass4"><a href="#" id="menuData4">Contact</a></li>
                            <li><a href="#">Reviews <span class="badge">1,118</span></a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="col-md-8 single_right">
            <h1>Total Software Services</h1>
            <hr></hr>
            <h3 style="margin-top:10px;">About</h3>
            <div class="row">

                <div class="col-sm-7 single-para">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', </p>
                    <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <h5>Services</h5>
            <p>"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. </p>
            <h5>Career</h5>
            <p>"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. </p>
            <div class="comments">
                <h6>Comments</h6>
                <div class="media media_1">
                    <div class="media-left"><a href="#"> </a></div>
                    <div class="media-body">
                        <h4 class="media-heading"><a class="author" href="#">Sollicitudin</a><a class="reply" href="#">Reply</a><div class="clearfix"> </div></h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="media">
                    <div class="media-left"><a href="#"> </a></div>
                    <div class="media-body">
                        <h4 class="media-heading"><a class="author" href="#">Sollicitudin</a><a class="reply" href="#">Reply</a><div class="clearfix"> </div></h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>
            </div>
            <form>
                <div class="to">
                    <input type="text" class="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
                    <input type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" style="margin-left:3%">
                </div>
                <div class="text">
                    <textarea value="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
                </div>
                <div class="form-submit1">
                    <input name="submit" type="submit" id="submit" value="Submit"><br>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>