<div class="banner_1" style="margin:-80px 0px -78px 0px;">
    <div class=" container">
        <div id="search_wrapper1">
            <div id="search_form" class="clearfix">
                <h1>Be the part of a helping network.</h1><br />
                <h1>Let's get started!</h1>
                <p></p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="single">
        <div class="col-md-4">
            <div class="col_3" style="margin-top:10px;">
                <h3>Todays Jobs</h3>
                <ul class="list_1">
                    <li><a href="/Home/uni_template">Department of Health - Western Australia</a></li>
                    <li><a href="/Home/uni_template">Australian Nursing Agency currently require experiences</a></li>
                    <li><a href="/Home/uni_template">Russia Nursing Agency currently require experiences</a></li>
                    <li><a href="/Home/uni_template">The Government of Western Saudi Arbia</a></li>
                    <li><a href="/Home/uni_template">Department of Health - Western Australia</a></li>
                    <li><a href="/Home/uni_template">Australian Nursing Agency currently require experiences</a></li>
                    <li><a href="/Home/uni_template">Russia Nursing Agency currently require experiences</a></li>
                    <li><a href="/Home/uni_template">The Scientific Publishing Services in Saudi Arbia</a></li>
                    <li><a href="/Home/uni_template">BPO Private Limited in Canada</a></li>
                    <li><a href="/Home/uni_template">Executive Tracks Associates in Pakistan</a></li>
                    <li><a href="/Home/uni_template">Pyramid IT Consulting Pvt. Ltd. in Pakistan</a></li>
                </ul>
            </div>
            <div class="col_3">
                <h3>Jobs by Category</h3>
                <ul class="list_2">
                    <li><a href="/Home/job_template">Railway Recruitment</a></li>
                    <li><a href="/Home/job_template">Air Force Jobs</a></li>
                    <li><a href="/Home/job_template">Police Jobs</a></li>
                    <li><a href="/Home/job_template">Intelligence Bureau Jobs</a></li>
                    <li><a href="/Home/job_template">Army Jobs</a></li>
                    <li><a href="/Home/job_template">Navy Jobs</a></li>
                    <li><a href="/Home/job_template">BSNL Jobs</a></li>
                    <li><a href="/Home/job_template">Software Jobs</a></li>
                    <li><a href="/Home/job_template">Research Jobs</a></li>
                </ul>
            </div>
            <div class="widget">
                <h3>Take The Seeking Poll!</h3>
                <div class="widget-content">
                    <div class="seeking-answer">
                        <span class="seeking-answer-group">
                            <span class="seeking-answer-input">
                                <input class="seeking-radiobutton" type="radio">
                            </span>
                            <label for="" class="seeking-input-label">
                                <span class="seeking-answer-span">Frequently</span>
                            </label>
                        </span>
                        <span class="seeking-answer-group">
                            <span class="seeking-answer-input">
                                <input class="seeking-radiobutton" type="radio">
                            </span>
                            <label for="" class="seeking-input-label">
                                <span class="seeking-answer-span">Interviewing</span>
                            </label>
                        </span>
                        <span class="seeking-answer-group">
                            <span class="seeking-answer-input">
                                <input class="seeking-radiobutton" type="radio">
                            </span>
                            <label for="" class="seeking-input-label">
                                <span class="seeking-answer-span">Leaving a familiar workplace</span>
                            </label>
                        </span>
                        <div class="seeking_vote">
                            <a class="seeking-vote-button">Vote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 single_right">
            <div class="login-form-section">
                <div class="login-content">
                    <form>
                        <div class="section-title">
                            <h3>LogIn to your Account</h3>
                        </div>
                        <div class="textbox-wrap">
                            <div class="input-group">
                                <span class="input-group-addon "><i class="fa fa-user"></i></span>
                                <input type="text" required="required" class="form-control" placeholder="Username">
                            </div>
                        </div>
                        <div class="textbox-wrap">
                            <div class="input-group">
                                <span class="input-group-addon "><i class="fa fa-key"></i></span>
                                <input type="password" required="required" class="form-control " placeholder="Password">
                            </div>
                        </div>
                    </form>
                    <div class="forgot">
                        <div class="login-check">
                            <label class="checkbox1"><input type="checkbox" name="checkbox" checked=""><i> </i>Sign Up for Newsletter</label>
                        </div>
                        <div class="login-para">
                            <p><a href="#"> Forgot Password? </a></p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="login-btn">
                        <input type="submit" value="Log in">
                    </div>
                    <div class="login-bottom">
                        <p>With your social media account</p>
                        <div class="social-icons">
                            <div class="button">
                                <a class="tw" href="#">
                                    <i class="fa fa-twitter tw2"> </i><span>Twitter</span>
                                    <div class="clearfix"> </div>
                                </a>
                                <a class="fa" href="#">
                                    <i class="fa fa-facebook tw2"> </i><span>Facebook</span>
                                    <div class="clearfix"> </div>
                                </a>
                                <a class="go" href="#">
                                    <i class="fa fa-google-plus tw2"> </i><span>Google+</span>
                                    <div class="clearfix"> </div>
                                </a>
                                <div class="clearfix"> </div>
                            </div>
                            <h4>Don,t have an Account? <a href="/Home/signup"> Register Now!</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
